<html>
    <head>
        <link rel="stylesheet"
        href="monokai-sublime.css">
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="https://cdn.jsdelivr.net/npm/highlightjs"></script>
<script>
  hljs.registerLanguage("vue", window.hljsDefineVue);
  hljs.initHighlightingOnLoad();
</script>

    </head>
  <body>
    <div id="app">
   
    <form action="">
      <input v-model="domain" type="text" placeholder="domain.cz" v-on:change="hljs.initHighlighting.called = false;hljs.initHighlightingOnLoad();">
      <input v-model="shortname" type="text" maxlength="6" >
    </form>
    <div id="example">
      <p>{{ domain }}</p>
    </div>
  
    <pre><code class="language-yaml">
version: '3.1'

services:

  wordpress:
    depends_on:
      - dbeight
    image: wordpress:latest
    restart: always
    expose:
      - 80
#   ports: - 8001:80 - 443:443
    environment:
      VIRTUAL_HOST: {{ domain }},www.{{ domain }}
      LETSENCRYPT_HOST: {{ domain }},www.{{ domain }}
      LETSENCRYPT_EMAIL: spoluprace@martinkokes.cz
      WORDPRESS_DB_HOST: dbeight:3306
      WORDPRESS_DB_USER: {{ shortname }}usr
      WORDPRESS_DB_PASSWORD: h6Are7ZMK
      WORDPRESS_DB_NAME: {{ shortname }}db
#     WORDPRESS_DEBUG: 1
    volumes:
      - ./web:/var/www/html
#     - ./nginx-conf:/etc

  dbeight:
    image: mysql:8.0.21
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: {{ shortname }}db
      MYSQL_USER: {{ shortname }}usr
      MYSQL_PASSWORD: h6Are7ZMK
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - dbeight:/var/lib/mysql

#  adminer:
#    image: adminer
#    restart: always
#    ports:
#      - 8002:8080

volumes:
  dbeight:

networks:
  default:
    external:
      name: nginx-proxy

    </code></pre>

  </div>

    
  <script>
    var app = new Vue({
el: '#app',
data: {
  domain: 'domain.cz',
  shortname: 'domain'
}
})
</script>

  </body>
</html>